:root {
  /* шрифт*/
  --font_family_default: 'Roboto', Helvetica, Arial, sans-serif;

  /* цвета*/
  --color_chambray: 55, 76, 131; /* #374c83 rgba(55, 76, 131, 1)*/
  --color_error: 198, 40, 40; /* #c62828 rgba(198, 40, 40, 1)*/

  /* --текста*/
  --text_color: #324e6e; /* rgba(50, 78, 110, 1)*/
  --text_color_header: rgb(var(--color_chambray)); /* #1a284d*/

  /* --бекграунда*/
  --bg_color_main: #ffffff;
  --bg_color_chambray: rgb(var(--color_chambray)); /* #374c83*/

  /* --границ*/
  --border_color_shadow: rgba(var(--color_chambray), 0.16); /* rgba(55, 76, 131, 0.16)*/
  --border_color_error: rgba(var(--color_error), 0.64); /* rgba(198, 40, 40, 0.64)*/

  /* радиус*/
  --radius_btn: 4px;

  /* сетка*/
  --main_width: 1440px;
  --main_margin: 40px;
  --height_control_elements: 37px;

  /* адаптивность*/
  --breakpoint_mobile: 375px;
  --breakpoint_desktop: 1440px;

  /* анимация*/
  --transition_base: 0.4s ease;

  --foo: #324e6e !important;
}

body {
  padding: 0;
  margin: 0;
  font: 14px/1.3 var(--font_family_default);
  background-color: var(--bg_color_main);
  color: var(--text_color);
}

.box {
  -webkit-box-shadow: 10px 5px 5px black;
  -moz-box-shadow: 10px 5px 5px black;
  --box-shadow: 10px 5px 5px black;
}

:root {
  --gutter: 4px;
  --primary-color: red;
  --logo-text: var(--primary-color);
}

section {
  margin: var(--gutter);
}

@media (min-width: 600px) {
  :root {
    --gutter: 16px;
  }
}

.foo {
  --side: margin-top;
  var(--side): 20px; /*syntax error for having an invalid property name.*/
}

.foo {
  --gap: 20;
  margin-top: var(--gap)px; /*invalid value for the margin-top property 20 px*/
  margin-bottom: calc(var(--gap) * 1px); /* niiiiice */
}

.box {
  --looks-valid: 20px;
  background-color: var(--looks-valid); /*invalid value for background-color - become initial val for bgc*/

  --box-text: 'This is my box';
  /* Equal to --box-highlight-text:'This is my box with highlight'; */
  --box-highlight-text: var(--box-text) ' with highlight';
}

/*debug*/
body::after {
  --screen-category: var(--primary-color);
  content: '--screen-category: ' var(--screen-category);
}

/*темизация*/
[data-theme="default"] {
  --color-primary: hsl(220, 90%, 56%);
  --color-primary-a20: hsla(220, 90%, 56%, 0.2);

  --color-accent-darker: hsl(355, 90%, 41%);
  --color-accent: hsl(355, 90%, 61%);
  --color-accent-lighter: hsl(355, 90%, 81%);
}
